$background-color: #000;

.movie-card {
  margin-bottom: 15px;
}

div.card-body {
  background-color: #000;
}

Card.Img {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  height: 400px;
}
