.fav-movie {
  margin-bottom: 15px;
}

form.update-form {
  padding: 0;
}

Card.Img {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  height: 400px;
}

.card {
  margin-bottom: 15px;
}
