$primary-color: #920e9e;

div.form-group {
  padding-top: 15px;
}

h1.welcome-heading {
  text-align: center;
  padding: 10px;
}
p.welcome-heading {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.login-card {
  margin-top: 30%;
}
